@import 'src/assets/styles/variables.scss';

.layout {
  margin: 10px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.title {
  color: $secondary;
  font-weight: bold;
  margin-bottom: 4px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 1px;

  .desc {
    width: 125px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}
