@import 'src/assets/styles/variables.scss';

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.htmlelement {
  color: $primary !important;
  font-family: $FSJoeyBold !important;
  font-size: 18px !important;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  align-items: center;
}

.link {
  cursor: pointer;
  padding: 5px 0;
  text-decoration: underline;
  color: $primary;
  margin-bottom: 14px;
  z-index: 100;
  position: relative;
  margin-top: 10px;
  width: fit-content;
}
