@import 'src/assets/styles/variables.scss';

.container {
  padding: 40px 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.modalBody {
  text-align: center;
  padding-bottom: 5px;

  p {
    font-size: 14px;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
