@import 'src/assets/styles/variables.scss';

.layout {
  display: flex;
  gap: 20px;
  .left {
    flex: 0 0 24%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    border-radius: 9px;
    background-color: white;
  }
  .right {
    flex: 1;
    width: 1px;
  }
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
