@import 'src/assets/styles/variables.scss';

.modalBody {
  padding: 0 20px 10px;
  width: 350px;

  .subtitle {
    color: $secondary;
    font-family: $BarlowBold;
    font-size: 14px;
  }

  p {
    margin: 5px 0;
  }

  .row {
    margin-bottom: 15px;
  }
}
