.baseNecesidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 20px;
  align-items: end;

  .div1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 1 / 4 / 3;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div5 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .div6 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div7 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div8 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div9 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div10 {
    grid-area: 6 / 1 / 7 / 4;
  }
  .div11 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div12 {
    grid-area: 7 / 2 / 9 / 4;
  }
  .div13 {
    grid-area: 9 / 1 / 10 / 2;
  }
  .div14 {
    grid-area: 9 / 2 / 10 / 3;
  }
}

.datosBasicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  .div1 {
    grid-area: 1 / 1 / 2 / 4;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div5 {
    grid-area: 4 / 1 / 5 / 4;
  }
}

.datosComplementarios {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 20px;
  align-items: end;

  .div7 {
    grid-area: span 1 / span 3;
  }

  .div8,
  .div9,
  .div10,
  .div11,
  .div12,
  .div13 {
    grid-area: span 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    margin-right: -28px;
  }
}

.configurarConcurso {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.datosComplementariosEsporadicos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 20px;
  align-items: end;

  .div7 {
    grid-area: span 1 / span 3;
  }

  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    grid-area: span 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    margin-right: -28px;
  }
}
