$primary: #0033a0;
$secondary: #00aec7;
$contrast: #e3e829;
$red: #ff4d4f;
$deep_blue: #0a2c70;
$green: #52c41a;
$gray: #8b92b1;
$light-gray: rgba(139, 146, 177, 0.27);

$font_normal: #454c3e;
$font_label: #707070;
$font_placeholder: #dcdce9;
$font_input: rgba(0, 0, 0, 0.87);

$btn-disabled: #d0d0d0;

$bg_main: #f9f9fb;

// $BarlowBold: 'Barlow-Bold';
// $BarlowRegular: 'Barlow-Regular';
// $BarlowSemiBold: 'Barlow-SemiBold';
// $FSJoeyBold: 'FSJoey-Bold';
// $FSJoeyMedium: 'FSJoey-Medium';
// $FSJoeyRegular: 'FSJoey-Regular';

$BarlowRegular: 'Sura-Regular';
$BarlowBold: 'Sura-Bold';
$BarlowSemiBold: 'Sura-SemiBold';
$FSJoeyRegular: 'Sura-Regular';
$FSJoeyBold: 'Sura-Bold';
$FSJoeyMedium: 'Sura-SemiBold';
